.decoded {margin-left: 30px;}
.param-list {
  overflow: hidden;
  margin-left: 0;
}
.param {
    margin-left: 20px;
    padding: 5px;
    border: 2px solid #ddd;
    margin-bottom: 0;
    float: left;
    clear: left;
    cursor: pointer;
}
.decoded > .param-list > .param {margin-left: 0;}
  