body,
form input,
button,
form.textarea {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex: 1;
  overflow-y: hidden;
  padding: 0 10px;
}

footer {
  margin-top: 20px;
  padding: 5px 10px
}

footer span {
  display: inline-block;
  margin-right: 20px;
}

footer span::after {
  padding-left: 20px;
  content: "|"
}

footer span:last-child::after {
  content: "";
  display: none;
}

.top-links {
  position: absolute;
  right: 5px;
  top: 5px;
}

.top-links a {
  color: #000;
  margin-right: 15px;
}

.top-links a:hover {
  color: #000;
  text-decoration: none;
}

.top-links a.xcom svg {
  width: 21px;
  height: 21x;
}

.top-links a.github svg {
  width: 24px;
  height: 24x;
}

.top-links a.linkedin svg {
  width: 28px;
  height: 28px;
}

.abi-decoded-container {
  display: flex;
  width: 100%;
  margin: 10px 0 20px 0;
}

.abi-decoded-params {
  max-width: 30%;
}

.abi-decoded-data {
  flex-grow: 1;
}

.row {
  display: flex;
  margin-left: 200px;
  position: relative;
}

.column {
  padding: 12px;
  border: 1px solid #ddd;
  border-bottom: none;
}

.row:last-child .column {
  border-bottom: 1px solid #ddd;
}

.column.word {
  padding: 12px 5px 12px 15px;
  border-right: none;
}

.column.offset {
  white-space: nowrap;
  position: relative;
}

.column.offset .tag {
  position: absolute;
  top: 0;
  left: 0;
}

.param-group {
  padding: 5px;
}

.param {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  padding: 10px;
  border: 1px solid #ddd;
  border-bottom: none;
  background: #fff;
  cursor: pointer;
  margin-bottom: 0;
  position: relative;
  white-space: nowrap;
}

.param.anonymous::before {
  content: "•";
  position: relative;
  margin-right: 5px;
  left: -5px;
  display: inline-block;
  font-weight: bold;
}

.param-group .param:first-child {
  margin-top: 10px;
}

.param-group .param:last-child {
  border: 1px solid #ddd;
}

.bar {
  top: 0;
  position: absolute;
  height: 100%;
  width: 5px;
}

.tag {
  display: inline-block;
  padding: 1px 2px;
  font-size: 10px;
  background-color: #ccc;
  margin-left: 0px;
  min-width: 45px;
  text-align: center;
}

.tag.offset {
  background-color: #7eb1eb;
}

.tag.count {
  background-color: #71ecd2;
}

.tag.length {
  background-color: #dd8bee;
}

.label {
  font-size: 12px;
  font-weight: bold;
  position: relative;
  top: 5px;
  left: -10px;
}

.examples {
  display: inline-block;
}

button {
  margin-right: 10px;
  font-size: 13px;
}

form.calldata {
  width: 75%;
  margin-bottom: 10px;
}

form.calldata label {
  display: inline-block;
  margin: 10px 0 3px 0;
  padding: 3px 5px;
  font-style: italic;
  background-color: #ccc;
}

.error {
  color: #f5222d;
  margin-top: 10px;
}