body {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.abi-decoded-container {
  display: flex;
  width: 100%;
}

.abi-decoded-data {
  flex-grow: 1;
}

.row {
  display: flex;
  margin-left: 200px;
  margin-bottom: 5px;
}

.row.data {
  font-weight: bold;
}

.column {
  padding: 8px;
  border: 1px solid #aaa;
}

.column.word {
  position: relative;
  padding-left: 10px;
}

.column.offset {
  white-space: nowrap;
}

.param-group {
  overflow: hidden;
  margin-left: 0;
}

.param {
  text-align: right;
  padding: 10px;
  border: 1px solid #aaa;
  cursor: pointer;
  margin-bottom: 5px;
}

.bar {
  position: absolute;
  height: 100%;
  width: 5px;
  top: -1px;
  left: 0;
  margin-left: -1px;
  border-width: 1px 0;
  border-style: solid;
}

.error {
  color: #f5222d;
  margin-top: 10px;
}